<div class="row no-gutters">

	<div class="col-12 text-center">
		<h2 class="mt-5 mb-5">Your News Stories</h2>
	</div>

	{{!-- Javascript add articles --}}
	<div id="articles" class="col-12 d-flex justify-content-center flex-wrap">
		
	</div>

	{{!-- <div id="notes"></div> --}}

	

</div>