<div class="row no-gutters">

	<div class="col-12 text-center d-flex justify-content-center">
			<h3 class="mt-5 mb-5 bgRounded">Your News Stories</h3>
	</div>

	{{!-- Javascript add articles --}}
	<div id="articles" class="col-12 d-flex justify-content-center flex-wrap"></div>
</div>