<div class="row no-gutters">

	{{!-- Scrape Articles Button --}}
	<div class="col-12 col-lg-4 dark-bg d-flex justify-content-center">
		<div style="height: 200px;" class="d-flex align-items-center">
			<div class="col-12 text-center">
				<h3 class="mb-4">Scrape Articles</h3>
				<button id="scrape" class="btn btn-lg btn-dark">Get Recent News</button>
			</div>
		</div>
	</div>

	{{!-- Heading --}}
	<div class="col-12 col-lg-4 d-flex justify-content-center">
		<div style="height: 200px;" class="d-flex align-items-center">
			<div class="col-12 text-center">
				<img width="100px" src="../src/earth.gif">
				<h1>Dank News</h1>
			</div>
		</div>
	</div>

	{{!-- Scrape Articles Button --}}
	<div class="col-12 col-lg-4 d-flex justify-content-center">
		{{!-- Section One - Articles --}}
		<div id="allArticles" class="col-6 active text-center">
			<div style="height: 200px;" class="d-flex align-items-center">
				<div class="w-100 text-center">
					<h3 class="mb-4">Show All <br> Articles</h3>
					<img width="75px" src="../src/eyes.gif">
				</div>
			</div>
		</div>
		{{!-- Section Two - Saved --}}
		<div id="savedArticles" class="col-6 text-center">
			<div style="height: 200px;" class="d-flex align-items-center">
				<div class="w-100 text-center">
					<h3>Saved <br> Articles</h3>
					<img width="75px" src="../src/brain.gif">
				</div>
			</div>
		</div>
	</div>

</div>