<div class="row no-gutters">

	{{!-- Scrape Articles Button --}}
	<div class="col-12 col-lg-4 dark-bg d-flex justify-content-center">
		<div style="height: 100px;" class="w-100 d-flex align-items-center">
			<div class="label">
				<h4>News <br> Stations</h4>
			</div>
			<div class="col-12 text-center">
				<button id="scrape" class="btnRounded">Get Sydney <br> Herald</button>
			</div>
		</div>
	</div>

	{{!-- Heading --}}
	<div class="col-12 col-lg-4 d-flex justify-content-center">
		<div style="height: 100px;" class="d-flex align-items-center">
			<div style="width: 175px;" class="col-12 text-center logoRounded">
				<img width="50px" src="../src/sphere.gif">
				<h1 class="mt-2">Dank News</h1>
			</div>
		</div>
	</div>

	{{!-- Scrape Articles Button --}}
	<div class="col-12 dark-bg  col-lg-4 d-flex justify-content-center">
		{{!-- Section One - Articles --}}
		<div id="allArticles" class="col-6 active text-center">
			<div style="height: 100px;" class="d-flex align-items-center">
				<div class="w-100 text-center">
					<h3 class="mb-4">Show All <br> Articles</h3>
					<img width="30px" src="../src/eyes.gif">
				</div>
			</div>
		</div>
		{{!-- Section Two - Saved --}}
		<div id="savedArticles" class="col-6 text-center">
			<div style="height: 100px;" class="d-flex align-items-center">
				<div class="w-100 text-center">
					<h3>Saved <br> Articles</h3>
					<img width="30px" src="../src/brain.gif">
				</div>
			</div>
		</div>
	</div>

</div>