
{{!-- BG Animated --}}
<div id="bg" class="">
	{{> patternBG}}
</div>

<div class="container-fluid">
	<div class="row">

		{{!-- Navigation --}}
		<div id="nav" class="col-12 p-0">
			{{> nav}}
		</div>

		{{!-- Display Articles --}}
		<div id="showArticles" class="container p-0">
			{{> articles}}
		</div>

		{{!-- Saved Articles --}}
		<div id="saved" class="col-12 p-0"></div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	</div>
</div>