body {
	z-index: 1;
	color: white;
	position: relative;
	width: 100%;
	height: 100%;
	background: #1a1a1a;
}

div {
	background:transparent;
}


/* FONTS */

h1,
h2,
h3,
h4,
h5, button {
	font-family: 'Anton', sans-serif;
	font-weight: bolder;
}

h1,h2 {
	font-size: 1.3em;
	text-transform: uppercase;
}

h3 {
	font-size: 1em;
	text-transform: uppercase;
}

h4 {
	font-size: 1.2em;
	text-transform: capitalize;
}

h5, button {
	font-size: .9em;
}

p  {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: .85em;
}

button {
	font-size: .7em;
	text-transform: uppercase;
}

/* NAVIGATION */

#nav {
	margin-top: 25px;
	position: fixed;
	z-index: 10;
	height: 100px;
	/* background-color: rgba(23, 23, 23, 0.15); */
}

#showArticles {
	margin-top: 125px;
}

.btnRounded {
	background-color: rgba(23, 23, 23, 0.45);
	padding: 15px 20px;
	border-radius: 10px;
	border: none;
	color: white;
	-webkit-backdrop-filter: blur(5px);
	  backdrop-filter: blur(5px);
}

.btnTag {
	background-color: rgba(23, 23, 23, 0.45);
	padding: 15px 20px;
	border-radius: 10px;
	border: none;
	color: white;
	-webkit-backdrop-filter: blur(5px);
	  backdrop-filter: blur(5px);
}

.btnRounded:hover {
	background-color: rgba(23, 23, 23, 0.8);
	color: aqua;
}

.btnRounded.active {
	background-color: rgba(23, 23, 23, 0.8);
	color: aqua;
}

.logoRounded {
	background-color: rgba(23, 23, 23, 0.45);
	width:300px;
	height: 100%;
	padding: 5px 5px;
	border-radius: 10px;
	-webkit-backdrop-filter: blur(5px);
	  backdrop-filter: blur(10px);
}

.label {
	position: absolute;
	top: 20px;
	left: 0;
	padding: 10px 25px 2px 15px;
	background-color: rgba(23, 23, 23, 0.8);
	border-radius: 0 10px 10px 0;
	-webkit-backdrop-filter: blur(5px);
	  backdrop-filter: blur(5px);
}

.label-right {
	position: absolute;
	text-align: right;
	top: 20px;
	right: 0;
	padding: 10px 25px 2px 15px;
	background-color: rgba(23, 23, 23, 0.8);
	border-radius: 10px 0px 0px 10px;
	-webkit-backdrop-filter: blur(5px);
	  backdrop-filter: blur(5px);
}

.labelCat {
	width: 80px;
	/* height: 45px; */
	background-color: rgba(23, 23, 23, 0.8);
	border-radius: 10px;
	-webkit-backdrop-filter: blur(5px);
	  backdrop-filter: blur(5px);
}

/* COLOURS */

.dark-bg {
	/* background: #1f1f1f; */
	background-color: rgba(23, 23, 23, 0.25);
	/* border-bottom-right-radius: 50px; */
	-webkit-backdrop-filter: blur(5px);
	  backdrop-filter: blur(5px);
}

a.btn {
    color: white !important;
}

.blue {
	color: aqua;
}

/* ARTICLE CARDS */

article.cards {
	border-radius: 10px;
	overflow: hidden;
	background-color: rgba(23, 23, 23, 0.45);
    width: 350px;
    height: 250px;
	position: relative;
	box-shadow: -5px 5px 5px rgba(23, 23, 23, 0.15);
	margin: 15px;
	-webkit-backdrop-filter: blur(10px);
	  backdrop-filter: blur(10px);
	  transition: .4s;
}

article:hover {
	transform: scale(1.025);
}

.bgRounded {
	background-color: rgba(23, 23, 23, 0.45);
	width:300px;
	padding: 15px 20px;
	border-radius: 10px;
	-webkit-backdrop-filter: blur(5px);
	  backdrop-filter: blur(5px);
}

/* TAGS SECTION */

#tags {
	/* overflow-x: hidden; */
	/* overflow-y: scroll; */
	/* overflow: auto;
overflow-y: hidden; */
	height: 80px;
	margin-bottom: 100px;
	margin-top: 120px;
}

#tags2 {
	overflow-x: hidden;
	overflow-x: scroll;
}

.btnControl {
	width: auto;
	max-height: 70px;
	line-height: 15px;          
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* NEWS CARDS */

.topCard {
	position: absolute;
	width: 350px;
	height: 25px;
	top: 0;
	left: 0;
}
/* 
.headlineGreen {
	background-color: rgba(23, 23, 23, 0.6);
} */

.imgCover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	border: #3a3a3a 1px solid;
}

.midCard {
	position: absolute;
	width: 350px;
	height: 175px;
	bottom: 40px;
	left: 0;
}

.hText {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
	line-height: 24px;    
    max-height: 80px;      
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.pText {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
	line-height: 18px;    
    max-height: 66px;      
    -webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	color: white;
}

.botCard {
	position: absolute;
	width: 350px;
	height: 40px;
	bottom: 0;
	left: 0;
}

button.btnAction {
	width: 100%;
	height: 100%;
	border: none;
	box-shadow: none;
	transition: .3s;
}

.btnBlue {
	background-color: rgba(24, 206, 152, 0.6);
	color: white;
}

.btnPink {
	background-color: rgba(180, 28, 81, 0.6);
	color: white;
}

.btnBlue:hover {
	background-color: rgba(28, 247, 181, 0.6);
}

.btnPink:hover {
	background-color: rgba(230, 22, 95, 0.6);
}


/* #notes {
    float: right;
    width: 30%;
} */

textarea,
input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}